.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #209cee;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rangeslider-horizontal {
  max-width: 250px;
  margin: auto;
  margin-top: 12px;
}

.circle-button {
  background-color: lightgrey;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  height: 140px;
  width: 140px;
  padding-top: 20px;
  min-width: 140px;
  min-height: 140px;
  margin: auto;
}

.circle-tag {
  width: 140px;
  margin-top: 10px;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #209cee;
}

.burger-pic {
  min-width: 100px;
  min-height: 100px;
  height: 100px;
  width: 100px;
}